<header class="show-add">
	<i class="fa fa-plus-circle showForm"></i>
</header>

<form class="add-post-form">
	<label class="add-blog-title">Title:</label>
	<input type="text" class="add-blog-title-input">
	<label class="add-blog-content">Content:</label>
	<textarea type="text" class="add-blog-content-input"></textarea>
	<button type="submit" class="submit-blog-post"><i class="fa fa-check"></i></button>
</form>

<div id="blog-post"></div>