@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
$gutter: 0em;
@import '../bower_components/neat/app/assets/stylesheets/neat';

* {
	outline: none;
}

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

@import '../styles/_form';
@import '../styles/_login';
@import '../styles/_list';
@import '../styles/_post';

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
}

body {
  font-family: $base-font-family;
  background-color: $base-background-color;
  color: $base-font-color;
}

#app {
	border-left: 1px solid $light-gray;
	border-right: 1px solid $light-gray;
	height: 100%;
	max-width: 1300px;
	margin: auto;
}
